:root {
  --color-1: #5ca494;
  --color-2: #b4ac9c;
  --color-3: #98b0ab;
  --color-4: #5aa191;
  --color-5: #ccede6;
  --color-6: #3d6e63;
}

.color1 {
    background-color: var(--color-1);
}

.color2 {
    background-color: var(--color-2);
}

.color3 {
    background-color: var(--color-3);
}

.color4 {
    background-color: var(--color-4);
}

.color5 {
    background-color: var(--color-5);
}

.color6 {
    background-color: var(--color-6);
}